.GameStats {
  position: absolute;
  width: 22vw;
  list-style-type: none;
  color: white(255, 255, 255, 0.5);
  font-weight: bold;
}

.GameStats__left {
  left: 61vw;
  bottom: 13vh;
  text-align: left;
}

.GameStats__right {
  right: 61.5vw;
  bottom: 0;
  text-align: right;
}

.GameStats .value {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: black(255, 255, 255, 1);
}
